@import url(../fonts/fonts.css);
@import url(../stylesheets/variables.css);

body {
  display: flex;
  margin: 0;
  height: 100vh;
  color: var(--text);
  font-family: "Pier Sans Regular";
  background-color: var(--background);
}
.wrapper {
  margin: auto;
  padding: 1em;
  box-sizing: border-box;
}
.flex-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.wrapper .left,
.wrapper .right {
  max-width: 40em;
  width: 100%;
  background-color: #00000000;
}
.wrapper .left {
  position: relative;
}
.wrapper .left .container {
  position: sticky;
  top: 0;
  left: 0;
}
.wrapper .right {
}
.name {
  font-family: "Pier Sans Bold";
}
.unorderedlist{
  list-style-type: none;
}
@media only screen and (min-width: 768px) {

  .flex-container{
    flex-direction: row;
  }

}